<% if(data.produtos) {%>
  <% for(const n of data.produtos) { %>
    <a href="produtos/produto/<%= n.id %>" class="link">
      <div class="card__prod all-center">
        <img class="image__prod" src="../.<%= n.Images[0].url %>" alt="">

        <p class="mt-20 grey--80">
         <strong><%= n.nome %></strong> 
          <%= n.titulo %>
        </p>

        <p class="azul--60 mt-20">R$<strong class="prod__price"> <%= n.preco %>,00</strong>
         
        </p>
      </div>
    </a>
    <% }%>
      <% }%>