<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/carrinho.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
    <script src="../../script/menu.js" defer></script>
    <title>Carrinho</title>
</head>

<body>
    <%- include('./partials/header') %>

        <main class="container mt-40">

            <h1>Meu carrinho</h1>
            <br>
            <section class="d-flex space-between container__main">
                <div class="left d-flex card">
                    <h3>Items</h3>

                    <div class="w-100 mt-20 col d-flex">

                        <% if(data.produtos) {%>
                            <% for(const n of data.produtos) { %>
                                <div class="space-between d-flex mt-sm">
                                    <div class="cart__img__container">
                                        <img style="width: 5rem; height: 5rem;" class="cart__img" src="../.<%= n.Images[0].url %>"
                                            alt=" <%= n.nome %>">
                                    </div>

                                    <div class="cart__title__container">
                                        <strong><%= n.nome %></strong> <br>
                                        <%= n.titulo %>
                                    </div>

                                    <div class="cart__preco__container">
                                        <p class="">R$<strong class="prod__price">
                                                <%= n.preco %>,00
                                            </strong></p>
                                    </div>

                                    <button class="btn">
                                        x
                                    </button>
                                </div>
                                <% }%>
                                    <% }%>
                    </div>
                    <% if(data.produtos) {%>
                        <strong class="mt-20"> Total:  <%= data.produtos.length %></strong>
                            <% }%>
                </div>

                <div class="right card">
                    <h4 class="">Resumo do Pedido</h4>

                    <label for="" class="mt-20">Cupon</label>
                    <div class="d-flex space-between mt-sm containner__input">
                        <input class="input" placeholder="insira seu cupon aqui" type="text">
                        <button onclick="" class="btn"> aplicar</button>
                    </div>

                    <label class="mt-20">Insira seu cep</label>
                    <div class="d-flex space-between mt-sm containner__input">
                        <input class="input" type="text" name="cep" id="cep" placeholder="Insira seu cep aqui">
                        <button onclick="" class="btn"> aplicar</button>
                    </div>
                    <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank"
                        rel="noopener noreferrer" class="link link__cep mt-sm">Não sei meu cep !</a>

                    <strong class="mt-20"> Frete R$XX,XX</strong>
                    <strong class="mt-sm"> Desconto R$XX,XX</strong>
                    <strong class="mt-sm"> Total R$XX,XX</strong>

                    <button class="btn bg-green t-white mt-20 w-100"><a class="link t-white" href="/finalizar">
                            finalizar
                            compra</a></button>
                    <button class=" btn bg-rosa t-white mt-20 w-100"><a class="link t-white" href="/produtos"> continuar
                            comprando
                        </a></button>
                </div>
                </div>


            </section>
            <br>
            <section>

            </section>
        </main>

        <br>
        <%- include('./partials/footer') %>
            </div>

</body>

</html>