<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/carrinho.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">

    <title>carrinho</title>
</head>

<body>
    <%- include('./partials/header') %>

        <section class="promo container">
            <h3 class="promo-title mt-40">Que tal aproveitar essas promoções</h3>

            <div class="d-flex">

                <%- include('./partials/card-promo-product') %>
                    <%- include('./partials/card-promo-product') %>
                        <%- include('./partials/card-promo-product') %>
                            <%- include('./partials/card-promo-product') %>
                                <%- include('./partials/card-promo-product') %>


            </div>
        </section>

        <section class="container">
            <div class="d-flex">
                <h4 class="">Meu carrinho</h4>
                <div class="line-cart bg-rosa all-center"></div>
            </div>
            <div class="d-flex mt-40">
                <div class="left d-flex card">
                    <h3>Itens</h3>
                    <div class="d-flex w-100 div-cart mt-20 ">
                        <div class=""><img class="card" src="./image/imagens-descricao-produto/em-gel.jpg" height="100"
                                alt="">
                        </div>
                        <div class="div-title-card "> Álcool com essências de Rosas</div>
                        <div class="promo-card-price d-flex">
                            <div class="promo-card-price bg-grey t-white">-</div>
                            <div class=" promo-card-price  bg-green t-white">R$XX,XX</div>
                            <div class="promo-card-price bg-grey  t-white">+</div>
                        </div>
                        <div>
                            R$XX,XX
                        </div>
                    </div>

                    <div class="d-flex w-100 div-cart mt-20 ">
                        <div class=""><img class="card" src="./image/imagens-descricao-produto/em-gel.jpg" height="100"
                                alt="">
                        </div>
                        <div class="div-title-card "> Álcool com essências de Rosas</div>
                        <div class="promo-card-price d-flex">
                            <div class="promo-card-price bg-grey t-white">-</div>
                            <div class=" promo-card-price  bg-green t-white">R$XX,XX</div>
                            <div class="promo-card-price bg-grey  t-white">+</div>
                        </div>
                        <div>
                            R$XX,XX
                        </div>
                    </div>
                    <div class="d-flex w-100 div-cart mt-20 ">
                        <div class=""><img class="card" src="./image/imagens-descricao-produto/em-gel.jpg" height="100"
                                alt="">
                        </div>
                        <div class="div-title-card "> Álcool com essências de Rosas</div>
                        <div class="promo-card-price d-flex">
                            <div class="promo-card-price bg-grey t-white">-</div>
                            <div class=" promo-card-price  bg-green t-white">R$XX,XX</div>
                            <div class="promo-card-price bg-grey  t-white">+</div>
                        </div>
                        <div>
                            R$XX,XX
                        </div>
                    </div>

                </div>
                <div class="right card">
                    <h4 class="">Resumo do Pedido</h4>
                    <div class="mt-20">Cupon</div>
                    <div class="d-flex mt-20">
                        <input class="input-cupom d-flex" placeholder="insira seu cupon aqui" type="text"
                            name="busca-cep" id="busca-cep">
                        <button onclick="" class="btn"> ok</button>
                    </div>
                    <strong class="mt-20"> Frete R$XX,XX</strong>
                    <strong class="mt-20"> Desconto R$XX,XX</strong>
                    <strong class="mt-20"> Total R$XX,XX</strong>
                    <button class="btn bg-green t-white mt-40 w-100"><a class="link t-white" href="/finalizar">
                            finalizar
                            compra</a></button>
                    <button class=" btn-primary mt-20 w-100"><a class="link t-white" href="/produtos"> continuar
                            comprando
                        </a></button>
                </div>
            </div>
            <div>
                <h3 class="mt-40">Calcule frete e prazo da entrega</h3>
                <input class="input-cep mt-20" type="text" name="cep" id="cep"> <a class="link">Não sei meu cep</a>
            </div>
            </div>
        </section>
        <section class="promo container">
            <h3 class="promo-title mt-40"> Você tambem pode gostar...</h3>

            <div class="d-flex">
                <%- include('./partials/card-promo-product') %>
                    <%- include('./partials/card-promo-product') %>
                        <%- include('./partials/card-promo-product') %>
                            <%- include('./partials/card-promo-product') %>
                                <%- include('./partials/card-promo-product') %>
            </div>
        </section>

        <%- include('./partials/footer') %>
</body>

</html>