<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/pagamento.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
    <script src="../../script/menu.js" defer></script>

    <title>Finalize sua compra</title>
</head>

<body>
    <%- include('./partials/header') %>
        <section class="container all-center mt-20 d-flex">
            <div class="card mg-sm w-50">
                <h3>Pedido</h3>

                <% if(data.pedidos) { %>
                    <% for(const n of data.pedidos) { %>
                       
                        <li class="d-flex space-between mt-sm">
                            
                            <div class="col d-flex">
                                <% for(const prod of n.produtos) { %>

                                    <div>
                                        <%= prod.nome %>
                                    </div>
                                    <% } %>
                            </div>

                            <div>
                                qtd : <%= n.produtos.length %>
                            </div>

                            <div>
                                <%= n.total %>
                            </div>
                        </li>

                        <% } %>
                            <% } %>
                            <br><br>

                                <form action="">
                                    <h3 class="">Confirme seus dados</h3> <br>
                                    <label for="CEP">CEP</label> <br>
                                    <input class="w-100 input" type="text" name="CEP" id="CEP" placeholder="CEP"> <br>

                                    <label for="Rua" class="mt-40">Rua</label> <br>
                                    <input class="w-100 input" type="text" name="Rua" id="Rua" placeholder="Rua"> <br>

                                    <label for="Rua" class="mt-40">Rua</label> <br>
                                    <input class="w-100 input" type="text" name="Rua" id="Rua" placeholder="Rua"> <br>






                                    <label for="cidade">Cidade</label> <br>
                                    <input class=" w-100 input" type="text" name="cidade" id="cidade"
                                        placeholder="Cidade"> <br>


                                    <label for="uf">UF</label> <br>
                                    <input class="w-100 input" type="text" name="uf" id="uf" placeholder="uf"> <br>
                                </form>
            </div>
            <div class="card mg-sm h-100 w-50 all-center t-green">Pagamento Seguro</div>
        </section> <br>
        <%- include('./partials/footer') %>
</body>

</html>