<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veja todos os nosso produtos</title>
  <link rel="stylesheet" href="../../styles/produtos.css">
  <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
</head>

<body>
  <%- include('./partials/header') %>

    <section class="container mt-40 d-flex">
      <section class="rigth filter card">
        <h3>Tipo </h3>
        <div class="d-flex mt-20">
          <div class="selection"></div>Kit
        </div>
        <div class="d-flex">
          <div class="selection"></div>Alcool
        </div>
        <div class="d-flex">
          <div class="selection"></div>Aromatizante
        </div>
        <h3 class="mt-20">Preço</h3>

        <input type="text" name="preco-min" id="" class="mt-20" placeholder="min">
        <input type="text" name="preco-max" id="" class="mt-20" placeholder="max">

        <h3 class="mt-20">Aroma</h3>
        <div class="d-flex mt-20">
          <div class="selection"></div>Morango
        </div>
        <div class="d-flex">
          <div class="selection"></div>Laranja
        </div>
        <div class="d-flex">
          <div class="selection"></div>Maça
        </div>
        <div class="d-flex">
          <div class="selection"></div>Melancia
        </div>
      </section>
      <section class="left ">
        <h2>Kits promocionais</h2>
        <div class="d-flex mt-20">
          <%- include('./partials/card-promo-product') %>
            <%- include('./partials/card-promo-product') %>
              <%- include('./partials/card-promo-product') %>
                <%- include('./partials/card-promo-product') %>
        </div>
        <div class="d-flex mt-40">
          <%- include('./partials/card-promo-product') %>
            <%- include('./partials/card-promo-product') %>
              <%- include('./partials/card-promo-product') %>
                <%- include('./partials/card-promo-product') %>
        </div>
        <h2 class="mt-40">Os mais pedidos</h2>
        <div class="d-flex mt-20">
          <%- include('./partials/card-promo-product') %>
            <%- include('./partials/card-promo-product') %>
              <%- include('./partials/card-promo-product') %>
                <%- include('./partials/card-promo-product') %>
        </div>
        <div class="d-flex mt-40">
          <%- include('./partials/card-promo-product') %>
            <%- include('./partials/card-promo-product') %>
              <%- include('./partials/card-promo-product') %>
                <%- include('./partials/card-promo-product') %>
        </div>

      </section>
    </section>
    <section class="container mt-40">
      <div class="d-flex all-center">
        <div class="selection">
          < </div>
            <div class="selection">1</div>
            <div class="selection">2</div>
            <div class="selection">3</div>
            <div class="selection">
              > </div>
        </div>
    </section>
    <div class="mt-40"></div>
    <%- include('./partials/footer') %>
</body>

</html>