<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../styles/produto.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="../../script/menu.js" defer></script>
    <script src="../../script/produto.js" defer></script>

    <title>Alcool em gel</title>
</head>
<%- include('./partials/header') %>

    <body>


        <section class="container__fluid">
            <% if(data.produto){ %>
                <h1>
                    <%= data.produto.titulo %>
                </h1>
                <br>


                <!-- COLUNA 1 -->
                <div class="container-display">
                    <section class="col-images">
                        <div class="div-img-product-main card">
                            <img class="img-product-main" src="../.<%= data.produto.Images[0].url %>" alt="">
                        </div>
                        <div class="div-picture-produts d-flex">
                            <img class="picture-produts-item card" src="../../image/produtos/prod33-1.jpg" alt="">

                        </div>
                    </section>
                    <!-- COLUNA 2 -->
                    <section class="col-info">


                        <div class="star">
                            <em class="bi bi-star-fill"></em>
                            <em class="bi bi-star-fill"></em>
                            <em class="bi bi-star-fill"></em>
                            <em class="bi bi-star-fill"></em>
                            <em class="bi bi-star-fill"></em>
                        </div>

                        <h2 class="mt-20">
                            <%= data.produto.nome %>
                        </h2>

                        <br>
                        <p>
                            <%= data.produto.descricao %>
                        </p>

                    </section>
                    <!-- COLUNA 3 -->
                    <section class="col-buy card">

                        <h2>R$<%= data.produto.preco %>,00</h2> <br>
                        <p class="t-grey-700">Diversas formas de pagamentos disponíveis
                        </p>
                        <% } %>
                            <br> <br>

                            <button class="w-100 btn bg-rosa t-white">
                                Comprar
                            </button> <br>
                            <button id="<%= data.produto.id %>" onclick="addToCart(this)"
                                class="w-100 btn bg-grey-700 t-white">
                                Adicionar
                            </button>

                            <form class="mt-40">
                                <label for="frete">Calcule o Frete</label><br>
                                <div class="d-flex"><input class="input" type="text" name="frete" id="frete"
                                        placeholder="Insira o CEP">
                                    <button class="btn" type="submit">OK</button>
                                </div>
                            </form>
                    </section>
                </div>
        </section>
        <%- include('./partials/footer') %>
    </body>

</html>